*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.custom-color {
  color: #18c7b5; /*primary-100*/
  color: #4bcebd; /*primary-200*/
  color: #69d4c5; /*primary-300*/
  color: #83dbcd; /*primary-400*/
  color: #9ae1d5; /*primary-500*/
  color: #afe7dd; /*primary-600*/
  color: #121212; /*surface-100*/
  color: #282828; /*surface-200*/
  color: #3f3f3f; /*surface-300*/
  color: #575757; /*surface-400*/
  color: #717171; /*surface-500*/
  color: #8b8b8b; /*surface-600*/
  color: #192220; /*mixed-100*/
  color: #2e3735; /*mixed-200*/
  color: #454d4b; /*mixed-300*/
  color: #5d6462; /*mixed-400*/
  color: #767c7a; /*mixed-500*/
  color: #8f9493; /*mixed-600*/
}
